*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix {
  overflow: auto;
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}
html{
  background: #8be;
}
body{
  font-family: 'Roboto', sans-serif;
}